@import url("https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Karla", sans-serif;
}

:root {
	/* ### primary */
	--cyan: hsl(179, 62%, 43%);
	--bright-yellow: hsl(71, 73%, 54%);

	/* ### neutral */
	--light-gray: hsl(204, 43%, 93%);
	--grayish-blue: hsl(218, 22%, 67%);

	--margin: 2em;
}

body {
	min-height: 100vh;
	display: grid;
	place-items: center;
	grid-template-rows: 1fr auto;
}

#card {
	max-width: 40em;
	margin: 1em;
}

/* FOOTER */
.attribution {
	font-size: 11px;
	text-align: center;
}
.attribution a {
	color: hsl(228, 45%, 44%);
}
